@charset "UTF-8";
body {background-color: #cff;
background-image:url("img/bike.jpg");
background-repeat:no-repeat;
background-position: center top;
font-size: 20px;
line-height: 1.8
/* 행간(줄간격) 글자 높이의 ~배 */; }

#bg {background-color: #eee;
border:6px double;
border-radius:12px;
margin:3em 1em;
padding: 1em 2.5em;
width: 550px;
font-size: 1.1em;
color:#697;}

ul {line-height: 2;}
li {margin-top: 30px;}

