@charset "UTF-8";



section>h2>i {
	font-style: normal;
	font-size: 12px;
	color: #930;
	background-color: #ff0;
}

#sec04, #sec05 {
	display:inline-block;
	vertical-align:top;
	width: 45%;
}

ul {
	list-style: none;
}

li {
	margin: 10px;
	border: 1px solid;
}

section:not(#sec03) {
	display:inline-block;
}

/* 1. display:inline; */
#sec01>.bl {
	border:1px solid #00f;
/* 	width: 200px; */
	display:inline; /* 가로정렬 */
	
}

/* 2. display:block; */
#sec02>.in {
	border:1px solid #00f;
	width: 300px; height:50px;
	margin: 30px;
	display:block; /* 세로정렬 */
}

/* 3. display:inline-block; */
#sec03 *:not(h2) {
	border:1px solid #00f;
	display:inline-block;
}

#sec01, #sec02 {
	width:45%;
	vertical-align: top;
	display: inline-block;
}

/* 4. display:none; */
#sec03:hover {
	display: none;
}

#sec03 *:not(h2) {
	width:45%;
	vertical-align:top;
	border:1px solid #00f;
	display:inline-block;
	
}

/* visibility: hidden; */
#sec05>p {
	background-color: #4af;
	padding: 1em;
	visibility: hidden;
}

#sec05:hover>p {
	background-color: #4af;
	padding: 1em;
	visibility: visible;
}

#sec05>a {
	background-color: #fa4;
	padding: 0.5em;
	visibility: hidden;
}

/* 형제 관계 선택자 A+B는 A의 바로 뒤에 위치한 B를 지정,
                A~B는 뒤에 오는 모든 형제를 B를 지정  
*/
#sec05>aside:hover+a {
	visibility: visible;
}

nav>ul {
	padding-left: 0;
}

nav>ul>li {
	border-bottom: 4px solid;
	margin:0px;
	line-height:30px;
	text-align: center;
	list-style: none;
	width: 110px;
	display: inline-block;
	vertical-align:top;
	background-color: teal;
	border-radius:20px 0;
	color: silver;
	text-transform: capitalize;
}

nav>ul>li:hover {
	transition:1s;
	
	line-height:30px;
	text-align:center;
	width:110px;
	background-color: olive;
	color:silver;
	text-transform: capitalize;
}


nav>ul>li>a {
	display:block;
	text-decoration: none;
}

/* 1. 링크의 평상시 상태(초기, 방문한) */
nav>ul>li>a:link, nav>ul>li>a:visited {
	color: #530;
}

/* 2. 링크의 동작시 상태(마우스오버, 활성화)*/
nav>ul>li>a:hover, nav>ul>li>a:active {
	color: #5ef;
}



#sec04>*:not(section, h2) {
	border: 1px solid black;
	display: inline-block;
}

#sec04>b {
	background-color: #f4a;
	padding: 1em;
	display: none;
}

#sec04>div {
	background-color: skyblue;
	padding: 1.5em;
	display: none;
}

#sec04:hover>b {
	display: block;
}


#sec04:hover>div {
	background-color: skyblue;
	padding: 1.5em;
	display: inline-block;
}
































