@charset "UTF-8";
nav {margin: 5em 0;}

nav>ul {list-style: none;
padding-left: 0;}

  /* 1. left menu */
#nv01>ul>li {/* border: 1px solid red; */
float: left /* 나란히 배치 */;}

nav>ul>li>a {
padding:8px 20px;
text-decoration: none;
text-transform: uppercase;}

nav>ul>li>a:link, nav>ul>li>a:visited {
border-left: 10px solid #0a8;
background-color: #064;
color: #ff9;}

nav>ul>li>a:hover, nav>ul>li>a:active {
background-color:#ff9;
color: #064;}


  /* 2. right menu */
#nv02>ul { /* border: 1px solid #00d;  */
float: right /* 우측 메뉴 */;}
 
#nv02>ul>li { /* border: 1px solid red;  */
float:left /* 나란히 */;}

#sub {list-style: none;
padding-left: 10px;
display: none /* 평상시 서브메뉴 숨김 */; 
/* visibility: hidden;*/}

#mn04:hover>#sub { /* 주메뉴에 오버시 서브메뉴 보임 */  
	display: block;
/* visibility: visible; */}
 
#sub a {text-decoration: none;
padding: 5px 15px;
display: block;}

#sub a:link, #sub a:visited {
 background-color: #ccc;	
 color: #05c;	}
#sub a:hover, #sub a:active  {
 background-color: #05c;	
 color: #ccc;	}


  /* 3.  center menu */
#nv03 {/* border: 1px solid #00d; */
	margin: 5em 0;} 
  
#nv03>ul { /*   */
 width: 460px; 
 margin: 0 auto /* 중앙 메뉴 */; }
 
#nv03>ul>li { /*  border: 1px solid red; */
 float: left /* 나란히 */; }




h1 {margin-top: 5em;}

h1>i {background-color:#df0;
font-size: 14px;
font-style: normal;
color: #a40;}

#f-l, #f-r {padding: 1em;
 font-weight: bold;
 color: #fff;}

#f-l {background-color: #5ae;
float: left; }
#f-r {background-color: #ea5;
float: right;
margin-bottom: 5em;}

.clear {clear: both /* 밀고 올라온 요소를 제자리로 */; }


 /* 1. img에 float:left; */
#sec01 {overflow:hidden /* float으로 빠져나간
자식을 다시 둘러싸도록 함 */; 
float: left;
width: 35%; }
 
#sec01>p>img {float: left;
margin-right: 1em;
margin-bottom:0.7em; }


 /* 2. img에 float:right; 적용 */
#sec02 {overflow: hidden;
 float: right;
width: 35%; }

#sec02>p {text-align: justify; }
#sec02>p>img {float: right;
margin-left: 1em;}	
 	
 	/* 3. p에 float: ; 적용 */
#sec03 {clear: both;
overflow: hidden;}	

#sec03>p {border: 1px solid red;} 
	
.p01, .p02 {float: left;
width: 45%;
margin-right: 4%;}

.p03 {clear: both;}

.p04, .p05, .p06 {
 width: 30%;	
 float: left;
 margin-right: 3%;}



  /* 4. p에 float:right ; 적용 */
#sec04 {overflow: hidden;}

#sec04>p {border: 1px solid #00f;
height:50px;
float: right;} 





















