@charset "UTF-8";

nav {
	margin: 5em 0;
	padding-bottom: 20px;
}

nav>ul {
	list-style: none;
	padding-left: 0;
}

#nv02>ul{
	float: right;
}

#nv03>ul{
	width: 460px;
	margin: 0 auto;	
}


#nv01>ul>li {
	/* border: 1px solid #0a8; */
	float: left;
}

#nv02>ul>li {
	/* border: 1px solid #0a8; */
	
	float: left;
}

#nv03>ul>li {
	/* border: 1px solid #0a8; */
	
	float: left;
}

nav>ul>li>a {
	border-left: 10px solid;
	background-color: #064;
	padding: 8px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

nav>ul>li>a:link, nav>ul>li>a:visited {
	border-left: 10px solid #0a8;
	background-color: #064;
	color: #ffa;
}

nav>ul>li>a:hover, nav>ul>li>a:active {
	background-color: #ff9;
	color: #064;
}


h1>i {background-color:#df0;
font-size: 14px;
font-style: normal;
color: #a40;}

#fl, #fr {padding: 1em;
 font-weight: bold;
 color: #fff;

 }

#fl {background-color: #5ae;
float: left; }
#fr {background-color: #ea5;
float: right;
margin-bottom: 5em;}

.clear {clear: both /* 밀고 올라온 요소를 제자리로 */; }


 /* 1. img에 float:left; */
#sec01 {overflow:hidden /* float으로 빠져나간
자식을 다시 둘러싸도록 함 */; 
float: left;
width: 35%; }
 
#sec01>p>img {float: left;
margin-right: 1em;
margin-bottom:0.7em; }


 /* 2. img에 float:right; 적용 */
#sec02 {overflow: hidden;
 float: right;
width: 35%; }

#sec02>p {text-align: justify; }
#sec02>p>img {float: right;
margin-left: 1em;}	
 	
 	/* 3. p에 float: ; 적용 */
#sec03 {clear: both;
overflow: hidden;}	

#sec03>p {border: 1px solid red;} 
	
.p01, .p02 {float: left;
width: 45%;
margin-right: 4%;}

.p03 {clear: both;}

.p04, .p05, .p06 {
 width: 30%;	
 float: left;
 margin-right: 3%;}



  /* 4. p에 float:right ; 적용 */
#sec04 {overflow: hidden;}

#sec04>p {border: 1px solid #00f;
height:50px;
float: right;} 