@charset "UTF-8";
  /* 1. padding의 방향별 적용 */
#pd {border: 1px solid;}
#pd:hover {
padding:50px; }

#ul-pd01>li {border: 1px solid #009;}
.pt {padding-top: 30px;}
.pr {text-align: right;
padding-right:30px; }
.pb {padding-bottom:30px; }
.pl {padding-left:30px; }


  /* 2. padding의 값 갯수별 적용법 */ 
#ul-pd02>li {border: 1px solid #090;}

.p01 {padding: 2em;}
.p02 {padding: 2em 20%;}
.p03 {padding: 3em 30% 1em;}
.p04 {padding: 3em 30% 1em 10%;}

/* a에서의 padding 활용(board)*/

legend {
	padding-left: 0.5em;
	padding-right: 0.05em;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
}

fieldset {padding: 50px 0 40px 30px;
	
}

#name, #id {
	padding: 0.7em;
	margin-bottom: 13px;
}

label {
	text-transform: uppercase;
}

.lb1 {
	padding-right: 20px;
}

.lb2 {
	padding-right: 50px;
}

#sbm {
	margin-top: 15px;
	margin-left: 45px;
	border: none;
	padding: 0.7em 5em;
	background-color: black;
	color: white;
}


#brd>table {
	border: 1px solid black;
	width: 800px; height: 400px;
}

#brd nav a {
	background-color: gray;
	padding: 2px 15px;
	text-align: center;
	text-decoration: none;
}

#brd nav a:hover {
	background-color: #029;
	color: #9ed;
}

nav {
	margin-top: 30px;
	font-size: 30px;
	text-align: center;
}

/* img에서의 padding 활용(board)*/
#brd {
	
	margin-top: 3em;
}

#brd2 {
	margin-top: 3em;
	margin-left: 3em;
}


.ph01 {
	border: 30px solid #432;
	padding: 50px;
	box-shadow: 1px 2px 10px #333;
	width: 400px; height: 200px;
}

.ph02 {
	border: 1px solid;
	border-radius: 9px;
	background-color: black;
	padding: 20px 20px 170px;
	margin-top: 20px;
	width: 400px; height: 200px;
	box-shadow: 1px 2px 10px #333;
}

.ph03 {
	border-radius: 50%;
	margin-top: 20px;
	width: 400px; height: 200px;
}
.ph03:hover {
	border-radius: 0 50%;
	transition:0.8s;
	margin-top: 20px;
	width: 400px; height: 200px;
}








