@charset "UTF-8";
 /* style.css 는 수업시간 공용 스타일 파일임 */
h1 {background-color: #9ca;
 border-left: 12px solid #697;
 padding: 0.5em 0.7em; }
 
h2 {border-bottom: 5px solid #cec;
padding:0.3em;
color:#697 ;} 
 
section {border: 4px double #ccc;
margin:4em 1em;
padding: 1em;}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 